[Unit]
Description=GraphQL Server

[Service]
WorkingDirectory=/home/grumm/graphql-server-express
ExecStart=/home/grumm/.nvm/versions/node/v16.6.2/bin/node /home/grumm/graphql-server-express/dist/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-missingreport
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
